<template>
	<div :class="classObject" @click="captureClick">{{ day.format('D') }}
	<ul class="event-list">
		<li v-for="event in events">{{event.description}}</li>
	</ul>
	</div>
</template>
<script>
	export default{
		props: [ 'day' ],
		computed: {
			events() {
				return this.$store.state.events.filter(event => event.date.isSame(this.day, 'day'))
			},
			classObject() {
				let eventformDate = this.$store.state.eventformDate
				let eventformActive = this.$store.state.eventformActive
				let today = this.day.isSame(this.$moment(), 'day')
				return {
					day: true,
					today,
					past: this.day.isSameOrBefore(this.$moment(), 'day') && !today,
					active: eventformDate.isSame(this.day, 'day') && eventformActive
				}
			}
		},
		methods: {
			captureClick(event) {
				this.$store.commit('eventformPos', {x: event.clientX, y: event.clientY})
				this.$store.commit('eventformActive', true)
				this.$store.commit('eventformDate', this.day)
		}
		

		}
	}
</script>
