<template>
	<div>
		<div>{{FormattedDate}}</div>
		<button @click="dec">-</button>
		<button @click="inc">+</button>
	</div>
	
</template>
<script>
	export default{
		methods: {
			dec() {
				if (this.month === 1)
				{	
					this.$store.commit('SetCurrentMonth', 12)
					this.$store.commit('SetCurrentYear', this.year - 1)
				}
				else {
					this.$store.commit('SetCurrentMonth', this.month - 1)
				}
				this.$store.commit('eventformActive', false)
			},
			inc() {
				if (this.month === 12)
				{
					this.$store.commit('SetCurrentMonth', 1)
					this.$store.commit('SetCurrentYear', this.year + 1)
				}
				else {
					this.$store.commit('SetCurrentMonth', this.month + 1)
				}
				this.$store.commit('eventformActive', false)
			},
		},
		computed: {
			FormattedDate() {
				return this.$moment(`${this.year}-${this.month}-1`,'YYYY-M-D').format('MMMM YYYY')
			},
			month() {
				return this.$store.state.currentMonth;
			},
			year() {
				return this.$store.state.currentYear;
			},
		}

	}
</script>