<template>
	<div id="event-form" :class="{ active: active}" :style="{top: top, left: left }">
		<h4>Add an event</h4>
		<p>{{date}}</p>
		<div class="text">
			<input v-focus type="text" v-model="description" placeholder="Dinner at Pancho's" @keyup.enter="create">
		</div>
		<div class="buttons">
			<button @click="create">Create</button>
		</div>
		<button id="close-button" @click="close">&#10005</button>
	</div>
	
</template>
<script>
	export default{
		data() {
			return {
				description: ''
			}
		},
		methods:{
			create(){
				if (this.description != ''){
					this.$store.dispatch('addEvent', this.description).then(_ => {
						this.$store.commit('eventformActive',false)
						this.description = ''
					})
					
				}
				
			},
			close(){
				this.$store.commit('eventformActive',false)
				this.description = ''
			}
		},
		computed: {
			active() {
				return this.$store.state.eventformActive
			},
			top() {
				return `${this.$store.state.eventformPosY}px`
			},
			left() {
				return `${this.$store.state.eventformPosX}px`
			},
			date() {
				return this.$store.state.eventformDate.format('dddd, MMM, Do')
			}
		},
		directives: {
			focus: {
				update(el) {
					el.focus();
				}
			}
		}
	}
</script>