<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="publ<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="header">
        <h1>Vue.js Poster Store</h1>
        <form class="searchbar" v-on:submit.prevent="onSubmit">
            <input placeholder="Search for posters" v-model="search"/>
            <input type="submit" value="Search" class="btn" />
        </form>
    </div>
    <div class="main">
        <div class="products">
            <div class="search-results" v-if="!loading">
                Found {{ results.length }} results for search term {{ lastSearch }}
            </div>
            <div v-else>
                Loading...
            </div>
            <div class="product" v-for="(item, index) in items">
                <div>
                    <div class="product-image">
                        <img v-bind:src="item.link">
                    </div>
                </div>
                <div>
                    <h4 class="product-title">{{item.title}}</h4>
                    <p>Price: {{price | currency}}<strong></p>
                    <button class="add-to-cart btn" v-on:click="addItem(index)">Add to cart</button>
                </div>
              </div>
            <div id="product-list-bottom"></div>
        </div>
        
        <div class="cart">
            <h2>Shopping Cart</h2>
                <transition-group name="fade" tag="ul">
                    <li class="cart-item" v-for="cartitem in cart" v-bind:key="cartitem.id">
                        <div class="item-title">{{cartitem.title}}</div>
                        <span class="item-qty">{{cartitem.price | currency}} x {{cartitem.qty}}</span>
                        <button class="btn" v-on:click="inc(cartitem)">+</button>
                        <button class="btn" v-on:click="dec(cartitem)">-</button>
                    </li>
                </transition-group>
            <transition name="fade">
                <div v-if="cart.length">
                    <div >Total: {{total | currency}}</div>
                </div>
            </transition>
            <div v-if="cart.length === 0" class="empty-cart"> No items in the cart.</div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="public/vue.js"></script>
    <script type="text/javascript" src="public/vue-resource.js"></script>
    <script type="text/javascript" src="node_modules/scrollMonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="public/script.js"></script>


</body>